

#startup-bg-pane {
    -fx-background-image : url("../img/window/startup.jpg");
    -fx-background-size : cover;
}

.header-button:focused, .header-button:hover {
    -fx-border-width : 2;
    -fx-cursor : hand;
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}

.header-button {
    -fx-effect : null;
    -fx-background-color : transparent;
}

.button {
	/*-fx-effect : innershadow( gaussian , -gn-fill , 10,1,21,21 );*/
}

#header {
	-fx-background-color : rgba(92, 89, 83, 0.5);
}

.start-window-btn {
    -fx-background-color : rgba(92, 89, 83, 0.5);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-font-size: 20px;
    -fx-text-inner-color: black;
    -fx-text-fill: -fx-text-inner-color;
}